@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);

/* background */
#app-mount {
	background: linear-gradient(rgba(0, 0, 0, calc(1 - var(--app-opacity))), rgba(0, 0, 0, calc(1 - var(--app-opacity)))), var(--app-bg) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
}

/* chat room */
.voiceUser__629a5 {
    z-index: 1;
}
.voiceUser__629a5 .content__3b07e {
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
}
.voiceUser__629a5 .avatarSpeaking_f239de {
    position: relative;
    transition: all 0.1s ease-in-out;
}
.voiceUser__629a5 .avatarSpeaking_f239de:after {
    content: "";
    position: absolute;
    height: 1.7em;
    background: linear-gradient(to right, var(--avatar-speaking-color) 10%, transparent);
    opacity: 0.5;
    transition: all 0.1s ease-in-out, width 0.15s ease-in-out;
    pointer-events: none;
    z-index: -1;
    border-radius: 999px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.voiceUser__629a5 .avatarSpeaking_f239de {
    box-shadow: 0 0 0 2px var(--avatar-speaking-color), inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.voiceUser__629a5 .avatarSpeaking_f239de:after {
    top: -2px;
    bottom: -2px;
    width: 150px;
}

/* chat text */
.username__0b0e7, .timestamp_c79dd2 *, .messageContent_abea64 *, .grid__35551 *, .editor__66464 * {
	text-shadow: 0 0 5px black, 0 0 5px black, 2px 0 5px black,  2px 0 5px black, 2px 0 5px black;
}

/* link color */
.section__62b44 a, .messageContent_abea64 a, .grid__35551 a, .fakeLink_e091e1 {
	color: var(--url-color);
}

/* chat unread */
.isUnread_de09f5 {
    border-color: var(--notice-color);
}
.isUnread_de09f5 .unreadPill__1b4fa {
	background-color: var(--notice-color);
}
.isUnread_de09f5 .unreadPillCapStroke__89d64 {
	color: var(--notice-color);
    fill: var(--notice-color);
}
.divider__855e3 {
	color: var(--notice-color);
}
.newMessagesBar__8b272, .jumpToPresentBar__69174 {
    background-color: var(--notice-color-rgba);
}

/* avatar */
.avatar_a56eee, .avatar__08316 {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.wrapper__3ed10, .embedAuthorIcon_d3f927 {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* server list */
.closedFolderIconWrapper__722d5 {
    background-color: var(--closed-folder-background-color);
}
.numberBadge_c1210c {
	background-color: var(--notice-color) !important;
}
.iconBadge__19638 {
	background-color: var(--server-badge-icon);
}
.childWrapper_a6ce15, .circleIconButton__05cf2 {
    background-color: rgba(0, 0, 0, 0.4) !important;
}
.mention_dd733a {
	background-color: var(--notice-color);
}